    </main>
    <footer style="text-align: center; padding: 3rem 0; margin-top: 3rem; background-color: #111;">
        <p>&copy; 2025 TAKCHELIN. All Rights Reserved.</p>
    </footer>
</body>
</html>
